* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 20px; */
}

header {
  background-color: #255ee9; /*APPLICO IL COLORE ALL'HEADER*/
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 4px;
}

header nav {
  margin-bottom: 1rem;
}

header nav .container {
  display: flex;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  background-color: #23272a;
  padding-top: 6px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  background-image: url(/img/logo.svg);
  background-repeat: no-repeat;
}

.bg-grey {
  background-color: #f6f6f6;
}

.nav-logo,
.nav-login {
  min-width: 150px;
}

.nav-links {
  flex-grow: 1;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  line-height: 31px;
}

.nav-links ul a {
  display: inline-block;
  padding: 0 0.3rem;
  text-decoration: none;
  color: white;
  padding: 0 20px;
}

.txtcenter {
  text-align: center;
}

.hero-section {
  background-image: url(/img/jumbo.png);
  background-size: cover;
  padding: 2rem 0;
}

.hero-section .container {
 /* max-width: 680px;*/
  border: 1px dashed black;
  text-align: center;
  color: white;
}

.row {
  display: flex;
}

.col-large,
.col-small {
  border: 1px dashed black;
  min-height: 460px;
}

.col-large {
  width: 60%;
}

.col-small {
  width: 40%;
  padding: 40px 0 0 15px;
}
/*
.box-green {
  border: 1px dashed black;
  min-height: 500px;
  background-color: #228b22;
}*/

footer .col {
  border: 1px dashed white;
  flex-grow: 1;
  background-color: #20b2aa;
  min-height: 300px;
}

footer .col-large {
  width: 15%;
  background-color: #f08080;
  border-color: black;
}

footer hr {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.secondary-footer {
  background-color: #7fffd4;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo,
.footer-btn {
  border: 1px dashed black;
  padding: 0.5rem;
  background-color: #FFB6C1;
}

/*NUOVE CLASSI*/
button {
  border: 1px transparent;
  border-radius: 25px;
  padding: 0.8rem;
}

.btn-black{
  background-color: #23272a;
  color: white;
}

.hero-section h1 {
  font-size: 50px;
  padding-top: 190px;
  padding-bottom: 40px;
}

.hero-section span {
  display: block;
  font-size: 20px;
  padding: 8px 0;
}

.hero-section button {
  margin-top: 40px;
  margin-bottom: 90px;
}

#item1 {
  background-image: url(/img/item1.svg);
}

#item2 {
  background-image: url(/img/item2.svg);
}

#item3 {
  background-image: url(/img/item3.svg);
}

.item4-big {
  width: 100%;
  min-height: 600px;
  background-image: url(/img/item4-big.svg);
  background-size: cover;
}

.stars {
  width: 50%;
  min-height: 200px;
  background-image: url(/img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  padding-top: 35px;
}